.slide {
  position: relative;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.slide > div {
  position: relative;
  z-index: 2;
}

/* Background images */
.slide1 {
  background-image: url("/banner1.webp");
}

.slide2 {
  background-image: url("/banner2.jpg");
}

.slide3 {
  background-image: url("/banner3.jpg");
}
